@import "../../../variables.scss";
#home {
    display: flex;
    justify-content: center;
}
#homeHome {
    display: flex;
    flex-flow: row;
    align-content: center;
}
#hello {
    width: 500px;
    height: 230px;
    padding: 20px 40px;
    text-align: justify;
    background: $main-color;
    animation-name: 'hello';
    animation-duration: 4s;
}
#mainPhoto {
    width: 450px;
    min-width: 450px;
    height: 450px;
    background-image: url('../../../assets/images/Nazar.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: 'hello';
    animation-duration: 4s;
}
#homeAbout {
    width: 500px;
    height: 220px;
    background: $main-color-translucent;
    text-align: center;
    p {
        line-height: 220px;
        font-size: 20px;
        opacity: 0;
        animation-name: 'show';
        animation-delay: 10s;
        animation-duration: 5s;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#homeGallery {
    width: 1000px;
    height: 500px;
    background-color: white;
    color: black;
}
@keyframes hello {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 1100px) {
    #sayHello {
        font-size: 20px;
    }
    #mainPhoto {
        min-height: 230px;
    }

}
