// $main-color: #5F9EA0;
// $main-color-translucent: rgba(95, 158, 160, 0.6); // Cadet Blue +-

// $main-color: #FAE03C;
// $main-color-translucent: rgba(250, 224, 60, 0.6); // Buttercup

// $main-color: #E15D44;
// $main-color-translucent: rgba(225, 93, 68, 0.6); // Tigerlily

// $main-color: #BFD641;
// $main-color-translucent: rgba(191, 214, 65, 0.6); // Lime Punch

// $main-color: #223A5E;
// $main-color-translucent: rgba(34, 58, 94, 0.6); // Navy Peony

// $main-color: #898E8C;
// $main-color-translucent: rgba(137, 142, 140, 0.6); // Neutral Gray ++-

// $main-color: #005960;
// $main-color-translucent: rgba(0, 89, 96, 0.6); // Shaded Spruce ++-

// $main-color: #9E4624;
// $main-color-translucent: rgba(158, 70, 36, 0.6); // Potter's Clay ++-

// $main-color: #2E4A62;
// $main-color-translucent: rgba(46, 74, 98, 0.6); // Sailor blue ++-

// $main-color: #2A293E;
// $main-color-translucent: rgba(42, 41, 62, 0.6); // Evening Blue

// $main-color: #006E51;
// $main-color-translucent: rgba(0, 110, 81, 0.6); // Lush Meadow

// $main-color: #009B77;
// $main-color-translucent: rgba(0, 155, 119, 0.6); // Emerald

// $main-color: #88B04B;
// $main-color-translucent: rgba(136, 176, 75, 0.6); // Greenery 

// $main-color: #B565A7;
// $main-color-translucent: rgba(181, 101, 167, 0.6); // Radiand Orchid 

$main-color: #2A293E;
$main-color-translucent: rgba(42, 41, 62, 0.6); // Valhalla

// $main-color: #00A591;
// $main-color-translucent: rgba(0, 165, 145, 0.6); // Arcadia

// $main-color: #E47A2E;
// $main-color-translucent: rgba(228, 122, 46, 0.6); // Russet Orange

// $main-color: #333333;
// $main-color-translucent: rgba(51, 51, 51, 0.6); // Black 20%

// $main-color: #262626
// $main-color-translucent: rgba(38, 38, 38, 0.6); // Black 15%

// $main-color: #DD4132;
// $main-color-translucent: rgba(221,65,50, 0.6); // Cinnabar. Home

// $main-color: #578CA9;
// $main-color-translucent: rgba(87, 140, 169, 0.6); // Niagara. Music


// $main-color: #5A3E36;
// $main-color-translucent: rgba(90, 62, 54, 0.6); // Rocky Road Software


$main-font: 'PT Mono', monospace;

$home-color: #dd4132;
$home-color-translucent: rgba(221, 65, 50, 0.6); // Fiesta

$contacts-color: #FF6F61;
$contacts-color-translucent: rgba(255, 111, 97, 0.6); // Living Coral


